<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-sensorapi" version="1.0.0">

   <name>SensorApi</name>
   <repo>https://github.com/Nekorra/SensorApi</repo>

   <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  
   <js-module name="SensorApi" src="www/SensorApi.js">
      <clobbers target="SensorApi" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="SensorApi">
            <param name="android-package" value="cordova.plugin.sensorapi.SensorApi" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/SensorApi.java" target-dir="src/cordova/plugin/sensorapi/SensorApi" />
   </platform>
</plugin>